<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bhim_upi" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BhimUpi</name>
    <js-module name="BhimUpi" src="www/BhimUpi.js">
        <clobbers target="BhimUpi" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BhimUpi">
                <param name="android-package" value="cordova.plugin.bhim_upi.BhimUpi" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/BhimUpi.java" target-dir="src/cordova/plugin/bhim_upi/BhimUpi" />
    </platform>
</plugin>